#xDiscountInjection {
    color:#00bc52;
    display: inline-block;
    animation: xDiscountInjectionZoomIn 300ms ease-in;
}

@keyframes xDiscountInjectionZoomIn {
    0% {
        transform: scale(50);
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }
}
